################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Windows程序设计/.vs/Windows程序设计
/Windows程序设计/Chap11/About1/Debug
/Windows程序设计/Chap11/About1/Release
/Windows程序设计/Chap11/About2/Debug
/Windows程序设计/Chap11/About2/Release
